body {
background-color: lightblue
  font-family: sans-serif;
  margin: 0;
}


h1, h2 {
  font-family: 'Caveat', cursive;
  font-weight: 400;
  text-align: left;
  font-size: 40px;
  margin-top: 0;
}


p.important {
  font-size: 1.5em;
  font-weight: 900;
}

footer {
  text-align: center;
}

img.inset{
  display: block;
  margin-left: 1em;
}

/* Header & Footer
------------------------------------*/
header{
  background: #2B2D42;
  color: #8D99AE;
}
header h1,
header h2 {
  color: #EDF2F4;
}
