body {
     font-family: Arial, Geneva, Helvetica, sans-serif;
     background: url(bg3-paint.jpg) no-repeat fixed center;
     background-size: cover;
     /* margin-top: 80px; */
     padding: 30px;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     background-color: #69BAB1B3;
     background-image:url("http://farm1.static.flickr.com/159/345009210_1f826cd5a1_m.jpg")
}

img {
  width:35%;
  height:35%;
  box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, inset 0px 0px 18px 2px rgba(196,255,34,0);
}

.c1 {
  border-radius: 40px;
   /*clip-path: inset(10px 20px 30px 40px);*/
   /*-webkit-box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, inset 0px 0px 18px 2px rgba(196,255,34,0);*/
   background: #9400D3;
   margin-left: 35%;
   margin-right: 35%;
   margin-top: 1%;
}

.c2 {
  border-radius: 40px;
   /*clip-path: inset(10px 20px 30px 40px);*/
   /*-webkit-box-shadow: 7px -5px 10px 0px #4B0082, 11px -9px 10px 0px #0000FF, 16px -14px 10px 0px #00FF00, 20px -17px 10px 0px #FFFF00, 24px -19px 10px 0px #FF7F00, 27px -23px 10px 0px #FF0000, inset 0px 0px 18px 2px rgba(196,255,34,0);*/
   background: #9400D3;
   margin-left: 35%;
   margin-right: 35%;
   margin-top: 1%;
}

#tinymce {
  background: #FFFFFF
}

.stories {
  /*font-size: xx-large;*/
  color: darkmagenta;
  font-weight: lighter;
  text-indent: 2em;
}


.link {
  color: #FF0000;
} /* CSS link color (red) */

.link:hover {
  color: #00FF00;
} /* CSS link hover (green) */

/* Header Sections modifications*/
 h1, h2 {
     font-family: 'Caveat';
     text-align:left;
     font-size: 35px;
     color: #EDF2F4;
     text-indent: initial;
}


 li {
     width: auto;
     word-wrap: normal;
}
/* Creating a table settings*/
 table td {
     vertical-align: top;
     align-items: center;
     width: auto;
}

table.wkmods {
  border: 1px solid #1C6EA4;
  width: -moz-available;
  font-size: larger;
  height: 200px;
  background-color: #23445FCC;
  /*box-shadow: 0 0 25px 0 #2a1ea5;*/
  color: yellow;
  width: -webkit-fill-available

}

table.wkmods tr:nth-child(even) {
  background: #D0E4F5;
  background-color: #47C91FE6;
}
/* Defining navigation bar */
/* Add a black background color to the top navigation */
.navibar {
  font-weight: bold;
  align-items: center;
  /*box-shadow: 0 0 25px 0 #000;*/
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  margin-top: auto;
}

.navibar a {
  float: left;
  color: darkgreen;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}


/* Change the color of links on hover */
.navibar a:hover {
  background-color: #ddd;
  box-shadow: 0 0 25px 0 #000;
  color: red;
}

/* Add a color to the active/current link */
.navibar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Add a color to the active/current link */
.active {
     color: white;
}

/* List Setting Ordered List*/
 ol {
     margin: 0 1.5em 0 1.5em;
}
/* Wrapping the intro content */
.content-wrap {
  overflow: hidden;
  font-family: Arial, Geneva, Helvetica, sans-serif, cursive;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 500;
  text-indent: 5em;
}

.important {
  font-style: italic;
}

.btn{
	font-size: 20px;
	font-style: normal;
	line-height: 1.4;
	font-weight: normal;
}

.b1{
	font-size: 20px;
	font-style: normal;
	line-height: 1.4;
	font-weight: normal;
}

.myintro {
    font-family: fantasy;
    padding-left: 45px;
    padding-right: 45px;
    margin-top: 10px;
}

.big {
  font-size: : 2em
}

/* Header & Footer ------------------------------------*/
 header {
     background: #2B2D42;
     color: #8D99AE;
}
 footer {
     text-align: center;
}

/* Adding things for the Jquery stuff */

$("button#b1").on("click",function(){
  $("img").hide();
  });
