header img {
  height: 80px;
}

body {
     height: 125vh;
     background-color: black;
     background-size: cover;
     font-family: 'Palatino' fantasy;
     margin-top: 80px;
     background: url(bg3-paint.jpg) no-repeat fixed center;
     padding: 30px;
}

.link {
  color: #FF0000;
} /* CSS link color (red) */

.link:hover {
  color: #00FF00;
} /* CSS link hover (green) */

a * {
  color: orange
}

/*Sections modifications*/
 h1, h2 {
     font-family: 'Caveat';
     font-weight: 400;
     text-align:justify;
     font-size: 35px;
     margin-top: 0;
     color: #EDF2F4;
}
 li {
     width: auto;
     word-wrap: normal;
}
/* Creating a table settings*/
 table td, table td * {
     vertical-align: top;
     align-items: center;
     width: auto;
}
/* Defining navigation bar */
/* Add a black background color to the top navigation */
.navibar {
  font-weight: bold;
  text-align: justify;
  align-items: center;
  box-shadow: 0 0 25px 0 #000;
  position: fixed;
  height: 10px;
  padding: 30px;
  overflow: hidden;
  top: 0;
  left: 0;
  right: 0;
  display: inline;
}

.navibar a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navibar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navibar a.active {
  background-color: #4CAF50;
  color: white;
}

/* Add a color to the active/current link */
 .active {
     background-color: white;
     color: white;
}

/* List Setting Ordered List*/
 ol {
     margin: 0 1.5em 0 1.5em;
}
/* Wrapping the intro content */
.content-wrap {
  font-style: Palatino normal;
  overflow: hidden;
}

/* Header & Footer ------------------------------------*/
 header{
     background: #2B2D42;
     color: #8D99AE;
}
 footer {
     text-align: center;
}
